body {
	margin:0
	padding: 20px;
}

a {
	color:white;
}
#nav {
	background-image: url('/images/header.jpg');
	position: relative;
	background-repeat: no-repeat;
	background-position:100px 200px;
	background-position:center top;text-align: center;
	font-family: Arial;
	

}

